.main {
    background-color: rgb(245, 248, 251);
    margin: 0;
    padding: 0;
}
.container {
    display: block;
    width: 50%;
}
.main-wrapp{
    width: 1000px;
    margin: 0 auto;
}
.info-wrp{
    text-align: center;
    margin-bottom: 110px;
}
.slick-slide img {
    margin: auto;
    border-radius: 20px;
    width: 588px;
    height: 420px;
    width: 96%;
}

.styles-description {
    width: 50%;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-description {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.5px;
    color: #31394d;
    margin-bottom: 24px;
}

.text-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: #5a6070;
    margin-bottom: 40px;
}
.btn-leading {
    width: 240px;
    height: 56px;
    background: #31394d;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.basket-block {
    position: relative;
    background: #fbe4e4;
    border-radius: 16px;
    width: 100%;
    max-width: 800px;
    margin: 150px auto 100px;
    padding: 54px 106px;
}
.basket-title {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #31394d;
    margin-bottom: 10px;
}
.basket-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #5a6070;
    margin: 0;
}
.basket-img {
    width: 118px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -112px;
    z-index: 3;
}
.slick-img-wrapp {
    outline: none;
    border: none;
}
.title-description-smaller{
    font-size: 48px;
}
.title-landing-row{
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: .3px;
    color: #31394d;
    margin-bottom: 24px;
}
.text-landing-row{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #5a6070;
    margin-bottom: 24px;
}

.img-landing-row{
    width: 50%;
    height: 366px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.img-landing-row img{
    width: 100%;
    height: 100%;
}

.learn-more{
    background: #fff;
    border-radius: 16px;
    padding: 64px 73px 110px;
    position: relative;
    margin: 0 auto 98px;
    max-width: 1075px;
}

.learn-more-wrapper{
    display: flex;
    justify-content: space-between;
}

.learn-more__card{
    width: 30%;
}

.learn-more__img{
    width: 100%;
    height: 203px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.learn-more__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 16px;
    letter-spacing: .5px;
    text-align: left;
    color: #31394d;
}
.learn-more__text{
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 16px;
    letter-spacing: .5px;
    color: #5a6070;
}
.learn-more__link{
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4099ec;
    margin-top: 8px;
    text-decoration: none;
}

.hero-wrapper{
    background-image: url(https://bipbap.ru/wp-content/uploads/2017/06/14813uxVsXjAPBFmIovEzZkHNnR.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    max-width: 1440px;
    height: 502px;
    margin: 0 auto 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding-left: 60px; */
}
.hero-info{
    width: 404px;
    min-height: 214px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: .3px;
    color: #333;
    margin-left: 115px;
}